.wrap {
  background: linear-gradient(180deg, #000000, #8dcdef, #856cbe);
  padding: 4rem 0 6.25rem;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .real-time-rank-wrap {
    margin-top: 3.12rem;
  }

  .participate-again-wrap {
    margin-top: 1.5rem;

    button {
      width: 27.5rem;
      height: 5rem;
      flex-shrink: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
