// .container {
//   font-family: 'Pretendard';
//   width: 100%;
//   height: fit-content;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
// }

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-image {
  width: 100%;
  height: auto;
}

.sub-title {
  font-size: 1.625rem;
  color: #fcf3ff;
  text-align: center;
  text-shadow: 0 0 8px rgba(255, 158, 245, 0.7);
  line-height: 2.031rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-1.5rem);
}

.assignment-wrap {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1.5rem;

  .assignment {
    width: 27.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    background: linear-gradient(
        166deg,
        rgba(0, 0, 0, 0.06) 6.03%,
        rgba(0, 0, 0, 0) 27.47%,
        rgba(255, 96, 153, 0.24) 90.1%
      ),
      rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.25);
    font-family: 'Pretendard';
    padding: 0.375rem;

    .inner-content {
      width: 26.75rem;
      border-radius: 0.5rem;
      border: 1px solid #ffb9d646;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
      padding: 2.125rem 1.5rem;

      .assignment-title {
        font-size: 1.25rem;
        color: #ffb9d6;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.375rem;
        text-align: center;
        font-weight: 400;
        line-height: 2.125rem;
        margin-bottom: 0.55rem;

        span {
          font-weight: 700;
        }
      }
    }
  }

  .wires {
    position: absolute;
    top: 22.25rem;
    transform: translateY(-50%);
    width: 19.625rem;
    display: flex;
    justify-content: space-between;

    img {
      width: 0.438rem;
      height: 2.25rem;
    }
  }
}

.line {
  width: 27.5rem;
  height: 1px;
  opacity: 20%;
  background-color: white;
}

.event_2 {
  width: 27.5rem;
  border-radius: 0.625rem;
  background: linear-gradient(
      166deg,
      rgba(0, 0, 0, 0.06) 6.03%,
      rgba(0, 0, 0, 0) 27.47%,
      rgba(255, 96, 153, 0.24) 90.1%
    ),
    rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #ffb9d6;
      font-size: 2rem;
      font-weight: 700;
      gap: 0.5rem;
      margin: 3rem 0 1rem 0;
    }

    .message {
      color: white !important;
      font-size: 1.25rem !important;
      text-align: center;
      text-shadow: 0 0 1rem #ff1b51;
      font-weight: 500;
      line-height: 2rem;
      margin-bottom: 0.5rem;
    }

    .price {
      width: 27.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.75rem 0 2rem;

      img {
        width: 100%;
        height: auto;
      }

      p {
        color: #dcd1d5;
        font-size: 1.125rem;
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      align-items: center;

      .step_1 {
        .title {
          font-size: 1.375rem;
          margin: 1rem 0;
        }

        .copy-container {
          display: flex;
          background-color: #592539;
          padding: 0.7rem 0.75rem 0.7rem 1.5rem;
          font-size: 1.375rem;
          font-weight: 700;
          color: white;
          border-radius: 0.938rem;
          gap: 1.25rem;

          .copy {
            background-color: white;
            color: #592539;
            border-radius: 10rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 0.7rem;
            gap: 0.2rem;
            cursor: pointer;
          }
        }

        p {
          text-align: center;
          color: white;
          font-size: 1.375rem;
          line-height: 2.125rem;
          margin: 0.5rem 0 1.2rem 0;
        }
      }

      .step_2 {
        margin-top: 1rem;

        .title {
          font-size: 1.375rem;
          margin: 1rem 0;
        }

        p {
          text-align: center;
          color: white;
          font-size: 1.375rem;
          line-height: 2.125rem;
          margin: 0.5rem 0 1.2rem 0;
        }
      }

      .step_3 {
        margin-top: 1rem;

        .title {
          font-size: 1.375rem;
          margin: 1rem 0;
        }

        p {
          text-align: center;
          color: white;
          font-size: 1.375rem;
          line-height: 2.125rem;
          margin: 0.5rem 0 1.2rem 0;
        }
      }

      img {
        width: 0.875rem;
        height: auto;
      }
    }

    .event_button {
      margin: 0.5rem 0 1.5rem 0;
      padding: 0 1.875rem;
    }
  }

  .line {
    width: 90%;
  }

  .bottom {
    margin: 2rem 0;

    p {
      text-align: center;
      color: #dcd1d5;
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}

.share-area {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.share_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  gap: 1.5rem;

  .link {
    display: flex;
    width: 8.75rem;
    height: 7.5rem;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    border-radius: 1rem;
    border: 1.5px solid #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.09%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    &:active {
      opacity: 0.6;
    }

    img {
      width: 3rem;
      height: auto;
    }

    p {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
  }

  .share {
    display: flex;
    width: 8.75rem;
    height: 7.5rem;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    border-radius: 1rem;
    border: 1.5px solid #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.09%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    &:active {
      opacity: 0.6;
    }

    img {
      width: 3rem;
      height: auto;
    }

    p {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
  }
}
