.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.25rem;

  .title-box {
    margin-top: 2.625rem;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;

    p {
      color: #fff;
      text-align: center;
      font-family: 'Pretendard';
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.015rem;
    }

    img {
      padding: 0 0.25rem 0 0.5rem;
    }

    span {
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      font-family: 'Pretendard';
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      letter-spacing: -0.01125rem;
    }
  }

  .result-button-wrap {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
    gap: 1.5rem;

    button {
      border: none;
      display: flex;
      width: 8.75rem;
      height: 7.5rem;
      padding: 0.625rem 1.25rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.125rem;
      border-radius: 1rem;
      border: 1.5px solid #fff;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 5.89%, rgba(255, 0, 92, 0.2) 108.51%);
      cursor: pointer;

      &:active {
        opacity: 0.8;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
      }

      p {
        color: #fff;
        text-align: center;
        font-family: 'Pretendard';
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.25rem;
        margin-top: 0.13rem;
      }
    }
  }
}
