.wrap {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  flex: 1 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    display: flex;
    width: 27.5rem;
    padding: 2rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border-radius: 1rem;
    background: #fff;

    img {
      width: 2.75rem;
      height: 2.75rem;
    }

    .title {
      color: #333;
      text-align: center;
      font-family: 'Pretendard Variable';
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.125rem;
      letter-spacing: -0.03rem;
      white-space: pre-line;
      margin: 0;
    }

    .ok {
      border-radius: 0.75rem;
      background: #00b9d2;
      display: flex;
      width: 20rem;
      padding: 1rem 0rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border: none;
      cursor: pointer;

      p {
        color: #fff;
        text-align: center;
        font-family: 'Pretendard Variable';
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.0625rem;
        margin: 0;
      }
    }
  }
}
