.wrap {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  .container {
    width: 26.3rem;
    height: 39.4rem;
    overflow: auto;
    padding-top: 1.5rem;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 0.9375rem;
    position: relative;

    .cancel {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      cursor: pointer;
      border: none;
      position: absolute;
      top: 0.62rem;
      right: 0.62rem;
    }

    .title {
      color: #333333;
      text-align: center;
      font-family: 'Pretendard Variable';

      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.875rem;
      letter-spacing: -0.015rem;
    }

    .input-box {
      margin-top: 1.5rem;
      width: 100%;
      padding: 0 1.88rem;

      input {
        width: 100%;
        height: 3rem;
        color: #333333;
        padding: 0rem 1rem;
        gap: 0.625rem;
        font-family: 'Pretendard Variable';
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.0125rem;
        border-radius: 0.625rem;
        background: #f6f6f6;
        border: none;

        &::placeholder {
          color: rgba(51, 51, 51, 0.5);
        }

        &:nth-child(2) {
          margin-top: 0.63rem;
        }
      }
    }

    .data-privacy-consent-wrap {
      display: flex;
      margin-top: 1rem;
      padding: 0 1.88rem;

      .left {
        display: flex;
        align-items: flex-end;
        flex: 1 0 0;

        button {
          border: none;
          height: 1.5rem;
          cursor: pointer;
          padding: 0;
          background-color: transparent;
          display: flex;
          align-items: center;

          p {
            color: rgba(51, 51, 51, 0.7);
            text-align: center;
            font-family: 'Pretendard Variable';
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: -0.01125rem;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .right {
        color: rgba(51, 51, 51, 0.7);
        text-align: center;
        font-family: 'Pretendard Variable';
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: -0.01125rem;

        .custom-checkbox {
          display: flex;

          input[type='checkbox'] {
            display: none;

            &:checked + .checkmark:after {
              display: block;
            }
          }

          .checkmark {
            position: relative;
            width: 1.125rem;
            height: 1.125rem;
            background: rgba(51, 51, 51, 0.1);
            border: 1px solid rgba(51, 51, 51, 0.5);
            border-radius: 0.25rem;
            display: inline-block;
            vertical-align: middle;

            &::after {
              content: '';
              position: absolute;
              display: none;
              left: 0.34rem;
              top: 0.1rem;
              width: 0.25rem;
              height: 0.5rem;
              border: solid rgba(51, 51, 51, 0.5);
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }

        .agree {
          margin-left: 0.38rem;
          margin-top: -1px;
        }
      }
    }

    .privacy-content {
      padding: 0.84rem 1.88rem 0;
      color: rgba(51, 51, 51, 0.5);
      font-family: 'Pretendard Variable';
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.625rem;
      letter-spacing: -0.01rem;
      text-align: left;

      ul {
        list-style: none;

        li {
          padding-left: 20px;
          position: relative;
          &::before {
            content: '•';
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .submit {
      display: flex;
      width: 20rem;
      padding: 1rem 0rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-radius: 0.75rem;
      background: #00b9d2;
      border: none;
      margin: 1.75rem auto 0;
      cursor: pointer;

      p {
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.0625rem; /* 137.5% */
      }
    }

    .notification {
      padding: 1.5rem 1.25rem;
      text-align: left;

      p {
        color: rgba(51, 51, 51, 0.7);
        font-family: 'Pretendard Variable';
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.625rem;
        letter-spacing: -0.01125rem;
      }

      .noti-list {
        list-style: none;

        li {
          position: relative;
          padding-left: 1.25rem;
          color: rgba(51, 51, 51, 0.7);
          font-family: 'Pretendard Variable';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem;
          letter-spacing: -0.01rem;
          @media (max-width: 375px) {
            padding-left: 0.875rem;
          }

          &::before {
            content: '•';
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1.625rem;
          }
        }
      }
    }
  }
}
