.intro-text {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(97, 0, 255, 0.5), 0px 0px 10px rgba(83, 255, 245, 0.2), 0px 0px 10px #c06ddc;
  -webkit-text-stroke-width: 0.30000001192092896;
  -webkit-text-stroke-color: #fff;
  font-family: RIDIBatang;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  filter: drop-shadow(0px 0px 5px rgba(97, 0, 255, 0.5)) drop-shadow(0px 0px 10px rgba(83, 255, 245, 0.2))
    drop-shadow(0px 0px 10px #c06ddc);

  span {
    color: #b5feff;
    font-family: RIDIBatang;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
  }

  .next {
    margin-top: 0.75rem;
  }
}
